<form role="form">
    <input type="email" class="input" placeholder="{{label.email}}">
    <input type="password" class="input" placeholder="{{label.pass}}">
    <label class="label">
        <input type="checkbox" value="remember-me"> Remember me
    </label>
    <button class="btn btn_primary btn_login" type="submit">Sign in</button>
</form>