<div class="promo">
    <h1 class="promo__title">{{name}}</h1>
    <div class="promo__text">{{text}}</div>
    <p><a class="btn btn_lg btn_success" href="{{href}}" role="button">{{link}}</a></p>
</div>