<div class="promo">
    <h1 class="promo__title">
    <div class="promo__logo"></div>
        <div class="promo__title-text">{{name}}<div class="promo__title-version">v 3.0 Beta</div></div>
    </h1>
    <div class="promo__text">{{text}}</div>
    <p><a class="btn btn_lg btn_success" href="{{href}}" role="button">{{link}}</a></p>
</div>