/*---------- Index styles ----------*/
* {
  margin: 0;
  padding: 0;
}
header,
nav,
section,
article,
aside,
footer,
figcaption,
figure,
details,
hgroup {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
html {
  height: 100%;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  font-family: Arial, Tahoma, Verdana, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #111111;
  background: #f5f5f5;
  width: 100%;
  height: 100%;
}
a {
  color: #1270b3;
  outline: none;
  text-decoration: underline;
}
a:focus,
a:hover {
  color: #1370b3;
  text-decoration: none;
}
img {
  border: none;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
p {
  margin: 0 0 10px;
}
input,
textarea,
select {
  font-family: Arial, Tahoma, Verdana, sans-serif;
  font-size: 14px;
  color: #111111;
}
input {
  vertical-align: middle;
}
.clear {
  clear: both;
}
.clearfix:after {
  display: block;
  content: "";
  clear: both;
}
.box-sizing {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.b-content {
  position: relative;
  min-height: 400px;
  padding-top: 75px;
}
.b-content .b-wrapper {
  background: #fff;
}
.b-droppable {
  width: 960px;
  height: 550px;
  position: relative;
  margin: 0 auto;
}
.b-droppable__box {
  width: 500px;
  float: left;
}
.b-droppable__block {
  width: 150px;
  height: 100px;
  float: left;
  margin: 5px;
  z-index: 5;
}
.b-droppable__block.b-droppable__block-1 {
  background: url(../img/b-droppable__node.png);
  clear: left;
}
.b-droppable__block.b-droppable__block-2 {
  background: url(../img/b-droppable__grunt.png);
}
.b-droppable__block.b-droppable__block-3 {
  font-size: 24px;
  font-family: "Roboto", serif;
  text-align: center;
  line-height: 26px;
  padding: 25px 0 7px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.b-droppable__block.b-droppable__block-3 span {
  color: #ff0000;
}
.b-droppable__block.b-droppable__block-4 {
  background: url(../img/b-droppable__less.png);
}
.b-droppable__block.b-droppable__block-5 {
  background: url(../img/b-droppable__js.png);
}
.b-droppable__block.b-droppable__block-6 {
  background: url(../img/b-droppable__images.png);
}
.b-droppable__place {
  width: 150px;
  height: 100px;
  background: #f2f2f2;
  color: #444;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #eee;
  position: absolute;
  text-align: center;
  padding: 30px 20px;
  line-height: 16px;
  z-index: 3;
}
.b-droppable__place.b-droppable__place-1 {
  bottom: 5px;
  left: 250px;
}
.b-droppable__place.b-droppable__place-2 {
  bottom: 5px;
  left: 405px;
}
.b-droppable__place.b-droppable__place-3 {
  bottom: 5px;
  left: 560px;
}
.b-droppable__place.b-droppable__place-4 {
  bottom: 110px;
  left: 327.5px;
}
.b-droppable__place.b-droppable__place-5 {
  bottom: 110px;
  left: 482.5px;
}
.b-droppable__place.b-droppable__place-6 {
  bottom: 215px;
  left: 405px;
}
.b-droppable__place_active {
  background: #cbffcb;
  -webkit-transition: background-color 1s;
  -ms-transition: background-color 1s;
  -o-transition: background-color 1s;
  -moz-transition: background-color 1s;
  transition: background-color 1s;
}
.b-droppable__completed {
  position: absolute;
  top: 20px;
  left: 30px;
  z-index: 100;
  display: none;
}
.b-header {
  width: 100%;
  position: absolute;
  background-color: #fff;
  border-bottom: 1px solid #eee;
  z-index: 20;
}
.b-header__name {
  float: left;
  padding: 20px 0;
  font-family: "Roboto", serif;
  font-size: 24px;
  height: 24px;
  line-height: 24px;
}
.b-header__author {
  float: right;
  height: 24px;
  line-height: 24px;
  padding: 20px 0;
}
.b-page {
  background-color: #f5f5f5;
  height: 100%;
}
.b-progress-bar {
  display: inline-block;
  vertical-align: middle;
  height: 13px;
  position: relative;
  width: 165px;
}
.b-progress-bar__unload {
  -webkit-box-shadow: 0 1px 2px #e6e6e6 inset;
  -moz-box-shadow: 0 1px 2px #e6e6e6 inset;
  box-shadow: 0 1px 2px #e6e6e6 inset;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid;
  border-color: #CECECE #E3E3E3 #F7F7F7;
  height: 11px;
}
.b-progress-bar__load {
  background: #77ce4e;
  height: 13px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  position: absolute;
  top: 0px;
  left: 0px;
  max-width: 100%;
}
.b-progress-bar__load-pct {
  height: 13px;
  width: 100%;
  line-height: 13px;
  text-align: center;
  font: 9px Verdana;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 0;
}
.b-result {
  float: right;
  width: 320px;
  padding: 20px 60px 0 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.b-result__title {
  font-size: 18px;
  padding-bottom: 8px;
}
.b-result__desc {
  font-size: 14px;
  line-height: 16px;
  padding-bottom: 8px;
}
.b-wrapper {
  width: 960px;
  min-width: 0;
  max-width: 1920px;
  margin: 0 auto;
}
