/*---------- Index styles ----------*/
* {
  margin: 0;
  padding: 0;
}
header,
nav,
section,
article,
aside,
footer,
figcaption,
figure,
details,
hgroup {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
html {
  height: 100%;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  font-family: Arial, Tahoma, Verdana, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #111111;
  background: #f5f5f5;
  width: 100%;
  height: 100%;
}
a {
  color: #1270b3;
  outline: none;
  text-decoration: none;
}
a:focus,
a:hover {
  color: #1370b3;
  text-decoration: underline;
}
img {
  border: none;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
p {
  margin: 0 0 10px;
}
input,
textarea,
select {
  font-family: Arial, Tahoma, Verdana, sans-serif;
  font-size: 14px;
  color: #111111;
}
input {
  vertical-align: middle;
}
.clear {
  clear: both;
}
.clearfix:after {
  display: block;
  content: "";
  clear: both;
}
.box-sizing {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.b-content {
  position: relative;
  min-height: 400px;
  padding-top: 75px;
}
.b-droppable {
  width: 960px;
  height: 500px;
  background: #fff;
  position: relative;
  margin: 0 auto;
}
.b-droppable__block {
  width: 150px;
  height: 90px;
  background: #f5f5f5;
  float: left;
  margin: 5px;
  z-index: 5;
}
.b-droppable__place {
  width: 150px;
  height: 90px;
  background: #eee;
  position: absolute;
  z-index: 3;
}
.b-droppable__place.b-droppable__place-1 {
  bottom: 5px;
  left: 250px;
}
.b-droppable__place.b-droppable__place-2 {
  bottom: 5px;
  left: 405px;
}
.b-droppable__place.b-droppable__place-3 {
  bottom: 5px;
  left: 560px;
}
.b-droppable__place.b-droppable__place-4 {
  bottom: 100px;
  left: 327.5px;
}
.b-droppable__place.b-droppable__place-5 {
  bottom: 100px;
  left: 482.5px;
}
.b-droppable__place.b-droppable__place-6 {
  bottom: 195px;
  left: 405px;
}
.b-header {
  width: 100%;
  position: absolute;
  background-color: #fff;
  border-bottom: 1px solid #eee;
  z-index: 20;
}
.b-header__name {
  float: left;
  padding: 20px 0;
  font-family: "Roboto", serif;
  font-size: 24px;
  height: 24px;
  line-height: 24px;
}
.b-header__author {
  float: right;
  height: 24px;
  line-height: 24px;
  padding: 20px 0;
}
.b-page {
  background-color: #f5f5f5;
  height: 100%;
}
.b-wrapper {
  width: 960px;
  min-width: 0;
  max-width: 1920px;
  margin: 0 auto;
}
