/* block content */
.b-content {
  padding: 30px 30px;
}
.b-content__item {
  float: left;
  width: 33%;
  padding-left: 110px;
  font-size: 18px;
  height: 81px;
  line-height: 81px;
}
.b-content__item_grunt {
  background: url(../../../img/grunt.png) no-repeat 20px 0;
}
.b-content__item_less {
  background: url(../../../img/less.png) no-repeat 0 0;
}
.b-content__item_bem {
  background: url(../../../img/bem.png) no-repeat 20px 0;
}
/* block header */
.b-header {
  width: 100%;
  height: 100px;
}
.b-header__logo {
  margin-left: 30px;
  height: 100px;
  line-height: 100px;
  font-size: 26px;
  float: left;
}
.b-header__desc {
  margin-right: 30px;
  padding-top: 30px;
  font-size: 14px;
  float: right;
  text-align: right;
}
