.b-droppable
    .b-droppable__box
        .b-droppable__block.b-droppable__block-6
        .b-droppable__block.b-droppable__block-5
        .b-droppable__block.b-droppable__block-4
        .b-droppable__block.b-droppable__block-3
            span Я
            | ндекс
            br
            | BEM
        .b-droppable__block.b-droppable__block-2
        .b-droppable__block.b-droppable__block-1
    .b-result
        .b-result__title Сборка проекта
        .b-result__desc Перенесите необходимые технологии в специально отведенные места
        .b-result__indication
            | Готовность:
            .b-progress-bar
                .b-progress-bar__unload
                    .b-progress-bar__load(style='width: 0%')
                    .b-progress-bar__load-pct
                        span.b-progress-bar__load-pct-count 0
                        | /6
    .clear
    .b-droppable__place.b-droppable__place-1
        p Необходим node.js
    .b-droppable__place.b-droppable__place-2
        p Необходим grunt.js
    .b-droppable__place.b-droppable__place-3
        p Используем BEM
    .b-droppable__place.b-droppable__place-4
        p Используем LESS
    .b-droppable__place.b-droppable__place-5
        p Оптимизируем JS
    .b-droppable__place.b-droppable__place-6
        p Оптимизируем изображения
    .b-droppable__completed
        .b-result__title Сборка завершена
        img(src='img/b-droppable__completed.png', alt='Сборка завершена')