// Заголовки
h1 {
  font-size:@bodyFontSize*2.4;
  font-weight: normal;
  height: @bodyFontSize*2.4;
  line-height: @bodyFontSize*2.4;
  padding-bottom:@defaultIndent/1.5;
}
h2 {
  font-size: @bodyFontSize*2;
  font-weight: normal;
  height: @bodyFontSize*2;
  line-height: @bodyFontSize*2;
  padding-bottom:@defaultIndent/1.5;
}
h3 {
  font-size: @bodyFontSize*1.75;
  font-weight: normal;
  height: @bodyFontSize*1.75;
  line-height: @bodyFontSize*1.75;
  padding-bottom:@defaultIndent/1.5;
}
h4 {
  font-size: @bodyFontSize*1.4;
  font-weight: normal;
  height: @bodyFontSize*1.4;
  line-height: @bodyFontSize*1.4;
  padding-bottom:@defaultIndent/2;
}
h5 {
  font-size: @bodyFontSize*1.3;
  font-weight: normal;
  height: @bodyFontSize*1.3;
  line-height: @bodyFontSize*1.3;
  padding-bottom:@defaultIndent/2;
}
h6 {
  font-size: @bodyFontSize;
  font-weight: bold;
  height: @bodyFontSize;
  line-height: @bodyFontSize;
  padding-bottom:@defaultIndent/2;
}

// работа с тектом
p {margin: 0 0 @indentP}

html .float-left {float: left;}
html .float-right {float: right;}
html .text-left {text-align: left;}
html .text-center {text-align: center;}
html .text-right {text-align: right;}
html .uppercase {text-transform: uppercase;}
html .font-big {font-size: @bodyFontSize*1.3;}
html .font-small {font-size: @bodyFontSize*0.9;}
html .font-italic {font-style: italic}