/* import main styles */
* {
  margin: 0;
  padding: 0;
}
header,
nav,
section,
article,
aside,
footer,
figcaption,
figure,
details,
hgroup {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
html {
  height: 100%;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  font-family: Arial, Tahoma, Verdana, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #111111;
  background: #ffffff;
  width: 100%;
  height: 100%;
}
a {
  color: #1270b3;
  outline: none;
  text-decoration: none;
}
a:focus,
a:hover {
  color: #1370b3;
  text-decoration: underline;
}
img {
  border: none;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
p {
  margin: 0 0 10px;
}
input,
textarea,
select {
  font-family: Arial, Tahoma, Verdana, sans-serif;
  font-size: 14px;
  color: #111111;
}
input {
  vertical-align: middle;
}
.clear {
  clear: both;
}
.clearfix:after {
  display: block;
  content: "";
  clear: both;
}
.box-sizing {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.wrapper {
  width: 960px;
  min-width: 0;
  max-width: 1920px;
  margin: 0 auto;
}
/* import blocks */
/* block header */
.b-header {
  width: 100%;
  height: 100px;
  background-color: #d6f2ff;
}
.b-header__logo {
  margin-left: 30px;
  height: 100px;
  line-height: 100px;
  font-size: 26px;
  float: left;
}
.b-header__desc {
  margin-right: 30px;
  padding-top: 30px;
  font-size: 14px;
  float: right;
  text-align: right;
}
/* block content */
.b-content {
  background-color: #ededed;
  padding: 30px 30px;
}
.b-content__item {
  float: left;
  width: 33%;
  padding-left: 110px;
  font-size: 18px;
  height: 81px;
  line-height: 81px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fee1d9;
}
.b-content__item_grunt {
  background: url(../img/grunt.png) no-repeat 20px 0;
}
.b-content__item_less {
  background: url(../img/less.png) no-repeat 0 0;
}
.b-content__item_bem {
  background: url(../img/bem.png) no-repeat 20px 0;
}
/* theme styles */
.font-light-grey {
  color: #ededed;
}
.bg-light-grey {
  background-color: #ededed;
}
.border-light-grey {
  border-color: #ededed;
}
.font-grey {
  color: #999999;
}
.bg-grey {
  background-color: #999999;
}
.border-grey {
  border-color: #999999;
}
.font-dark-grey {
  color: #666666;
}
.bg-dark-grey {
  background-color: #666666;
}
.border-dark-grey {
  border-color: #666666;
}
.font-light-blue {
  color: #d6f2ff;
}
.bg-light-blue {
  background-color: #d6f2ff;
}
.border-light-blue {
  border-color: #d6f2ff;
}
.font-blue {
  color: #00a4ef;
}
.bg-blue {
  background-color: #00a4ef;
}
.border-blue {
  border-color: #00a4ef;
}
.font-dark-blue {
  color: #0081bc;
}
.bg-dark-blue {
  background-color: #0081bc;
}
.border-dark-blue {
  border-color: #0081bc;
}
.font-light-green {
  color: #e9ffba;
}
.bg-light-green {
  background-color: #e9ffba;
}
.border-light-green {
  border-color: #e9ffba;
}
.font-green {
  color: #7fba00;
}
.bg-green {
  background-color: #7fba00;
}
.border-green {
  border-color: #7fba00;
}
.font-dark-green {
  color: #639100;
}
.bg-dark-green {
  background-color: #639100;
}
.border-dark-green {
  border-color: #639100;
}
.font-light-red {
  color: #fee1d9;
}
.bg-light-red {
  background-color: #fee1d9;
}
.border-light-red {
  border-color: #fee1d9;
}
.font-red {
  color: #f74e1e;
}
.bg-red {
  background-color: #f74e1e;
}
.border-red {
  border-color: #f74e1e;
}
.font-dark-red {
  color: #d03407;
}
.bg-dark-red {
  background-color: #d03407;
}
.border-dark-red {
  border-color: #d03407;
}
.font-light-yellow {
  color: #ffedbd;
}
.bg-light-yellow {
  background-color: #ffedbd;
}
.border-light-yellow {
  border-color: #ffedbd;
}
.font-yellow {
  color: #fab500;
}
.bg-yellow {
  background-color: #fab500;
}
.border-yellow {
  border-color: #fab500;
}
.font-dark-yellow {
  color: #d19800;
}
.bg-dark-yellow {
  background-color: #d19800;
}
.border-dark-yellow {
  border-color: #d19800;
}
.font-white {
  color: #ffffff;
}
.bg-white {
  background-color: #ffffff;
}
.border-white {
  border-color: #ffffff;
}
.font-black {
  color: #1c1c1c;
}
.bg-black {
  background-color: #1c1c1c;
}
.border-black {
  border-color: #1c1c1c;
}
