/* ---------- Settings ---------- */
/* -------- Import main files -------- */
* {
  margin: 0;
  padding: 0;
}
header,
nav,
section,
article,
aside,
footer,
figcaption,
figure,
details,
hgroup {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
html {
  height: 100%;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  font-family: Arial, Tahoma, Verdana, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #111111;
  background: #ffffff;
  width: 100%;
  height: 100%;
}
a {
  color: #1270b3;
  outline: none;
  text-decoration: none;
}
a:focus,
a:hover {
  color: #1370b3;
  text-decoration: underline;
}
img {
  border: none;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
input,
textarea,
select {
  font-family: Arial, Tahoma, Verdana, sans-serif;
  font-size: 14px;
  color: #111111;
}
input {
  vertical-align: middle;
}
.clear {
  clear: both;
}
.clearfix:after {
  display: block;
  content: "";
  clear: both;
}
.box-sizing {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.wrapper {
  width: 960px;
  min-width: 0;
  max-width: 1920px;
  margin: 0 auto;
}
.font-light-grey {
  color: #ededed;
}
.bg-light-grey {
  background-color: #ededed;
}
.border-light-grey {
  border-color: #ededed;
}
.font-grey {
  color: #999999;
}
.bg-grey {
  background-color: #999999;
}
.border-grey {
  border-color: #999999;
}
.font-dark-grey {
  color: #666666;
}
.bg-dark-grey {
  background-color: #666666;
}
.border-dark-grey {
  border-color: #666666;
}
.font-light-blue {
  color: #d6f2ff;
}
.bg-light-blue {
  background-color: #d6f2ff;
}
.border-light-blue {
  border-color: #d6f2ff;
}
.font-blue {
  color: #00a4ef;
}
.bg-blue {
  background-color: #00a4ef;
}
.border-blue {
  border-color: #00a4ef;
}
.font-dark-blue {
  color: #0081bc;
}
.bg-dark-blue {
  background-color: #0081bc;
}
.border-dark-blue {
  border-color: #0081bc;
}
.font-light-green {
  color: #e9ffba;
}
.bg-light-green {
  background-color: #e9ffba;
}
.border-light-green {
  border-color: #e9ffba;
}
.font-green {
  color: #7fba00;
}
.bg-green {
  background-color: #7fba00;
}
.border-green {
  border-color: #7fba00;
}
.font-dark-green {
  color: #639100;
}
.bg-dark-green {
  background-color: #639100;
}
.border-dark-green {
  border-color: #639100;
}
.font-light-red {
  color: #fee1d9;
}
.bg-light-red {
  background-color: #fee1d9;
}
.border-light-red {
  border-color: #fee1d9;
}
.font-red {
  color: #f74e1e;
}
.bg-red {
  background-color: #f74e1e;
}
.border-red {
  border-color: #f74e1e;
}
.font-dark-red {
  color: #d03407;
}
.bg-dark-red {
  background-color: #d03407;
}
.border-dark-red {
  border-color: #d03407;
}
.font-light-yellow {
  color: #ffedbd;
}
.bg-light-yellow {
  background-color: #ffedbd;
}
.border-light-yellow {
  border-color: #ffedbd;
}
.font-yellow {
  color: #fab500;
}
.bg-yellow {
  background-color: #fab500;
}
.border-yellow {
  border-color: #fab500;
}
.font-dark-yellow {
  color: #d19800;
}
.bg-dark-yellow {
  background-color: #d19800;
}
.border-dark-yellow {
  border-color: #d19800;
}
.font-white {
  color: #ffffff;
}
.bg-white {
  background-color: #ffffff;
}
.border-white {
  border-color: #ffffff;
}
.font-black {
  color: #1c1c1c;
}
.bg-black {
  background-color: #1c1c1c;
}
.border-black {
  border-color: #1c1c1c;
}
.clear {
  clear: both;
}
.row {
  margin-left: -2%;
}
.row:after {
  display: block;
  content: "";
  clear: both;
}
.row [class*="column"] {
  display: block;
  float: left;
  min-height: 40px;
  margin-left: 2%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.row .column1 {
  width: 6.33%;
}
.row .column2 {
  width: 14.66%;
}
.row .column3 {
  width: 22.990000000000002%;
}
.row .column4 {
  width: 31.32%;
}
.row .column5 {
  width: 39.65%;
}
.row .column6 {
  width: 47.980000000000004%;
}
.row .column7 {
  width: 56.31%;
}
.row .column8 {
  width: 64.64%;
}
.row .column9 {
  width: 72.97%;
}
.row .column10 {
  width: 81.3%;
}
.row .column11 {
  width: 89.63%;
}
.row .column12 {
  width: 97.96000000000001%;
}
.row .margin1 {
  margin-right: 8.33%;
}
.row .margin2 {
  margin-right: 16.66%;
}
.row .margin3 {
  margin-right: 24.990000000000002%;
}
.row .margin4 {
  margin-right: 33.32%;
}
.row .margin5 {
  margin-right: 41.65%;
}
.row .margin6 {
  margin-right: 49.980000000000004%;
}
.row .margin7 {
  margin-right: 58.31%;
}
.row .margin8 {
  margin-right: 66.64%;
}
.row .margin9 {
  margin-right: 74.97%;
}
.row .margin10 {
  margin-right: 83.3%;
}
.row .margin11 {
  margin-right: 91.63%;
}
.row .margin12 {
  margin-right: 99.96000000000001%;
}
/* ---------- Import blocks ---------- */
.header {
  width: 100%;
  height: 100px;
  background-color: #e9ffba;
}
.header__logo {
  margin-left: 30px;
  height: 100px;
  line-height: 100px;
  font-size: 26px;
  float: left;
}
.header__desc {
  margin-right: 30px;
  padding-top: 30px;
  font-size: 14px;
  float: right;
  text-align: right;
}
