<div class="header">
    <div class="wrapper clearfix">
        <div class="header__name">{{#if name}}{{name}}{{else}}Logo{{/if}}</div>
        <div class="header__links">

        </div>
    </div>
</div>