.header {
  width: 100%;
  position: absolute;
  background-color: #fff;
  border-bottom: 1px solid #eee;
  z-index: 20;
  background: url(img/_Net.png);
  &__name {
    float: left;
    padding: 20px 0;
    font-size: 24px;
    height: 24px;
    line-height: 24px;
  }
  &__links {
    float: right;
    height: 24px;
    line-height: 24px;
    padding: 20px 0;
    &-item {
      font-size: 14px;
      margin-left: 20px;
    }
  }
}