<div class="content">
    <div class="wrapper">
        <h3>{{name}}</h3>
        {{#each articles}}
            <div class="content__article {{#if @first}}content__article_first{{/if}}">
                <h4>{{title}}</h4>
                {{body}}
            </div>
        {{/each}}
    </div>
</div>