doctype html
html(class="i-ua_js_no i-ua_css_standard")
    head
        include templates/meta
    body(class="b-page")
        include blocks/b-header/b-header
        .b-content
            .b-wrapper
                include blocks/b-droppable/b-droppable